<p>student works!</p>


<table>
    <th>
        <tr class="header">
            <td>Label</td>
            <td>Value</td>
        </tr>
        <tr>
            <td>First name</td>
            <td>{{firstName}}</td>
        </tr>
        <tr>
            <td>Last name</td>
            <td>{{lastName}}</td>
        </tr>
        <tr>
            <td>Gengder</td>
            <td>{{gender}}</td>
        </tr>
        <tr>
            <td>Age</td>
            <td>{{age}}</td>
        </tr>
    </th>
</table>

<app-structural-directives></app-structural-directives>
